.ContactMain{
    height: auto;
    margin: auto;
    text-align: center;    
    color: azure;

    /*Fondo del contenedor*/
    background: #000000;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #161515, #11111196), url("../assets/Libros.jpg");  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #161515c7, #11111196), url("../assets/Libros.jpg"); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    background-attachment: fixed;
    background-size: cover;  

    /*Display del contenedor*/
    display: grid;
    grid-template-rows: 70px 4px auto;
    justify-content: center;

    /*Espacio arriba y abajo del contenedor*/
    padding: 80px 0 60px 0;
}

.UnderlineTitle{
    height: 4px;
    width: 170px;
    background-color: azure;
    padding: 0;
    margin: auto;
}

.FormElement{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 700px;
    padding: 25px 0 20px 0;
}

/*Elementos del form*/
.FormElement div > input, textarea{ 
    padding: 8px;
    border-radius: 5px;
    background-color: azure;
    width: 50%;       
    font-size: medium;       
    font-family: Verdana;
}

/*Para mantener un tamaño especifico del textarea*/
.FormElement div > textarea{   
    min-width: 200px;
    min-height: 100px;
    max-width: 660px;
    max-height: 280px;
}

.FormElement input:focus, textarea:focus{
    background-color: transparent;
    color: azure;
    border: none;
  }

.FormBotton{
    margin: 6px auto;    
    font-size: large;
    padding: 8px 20px;       
    border-radius: 5px;   
    background-color: transparent;
    color: azure;
}

.FormBotton:hover{
    background-color: azure;
    color: rgb(110, 110, 110);    
    cursor: pointer;
    transition: all linear 0.4s;
}

.IconBotton{
    margin-left: 5px;
}

/*------------------------ Media Querys ------------------------------------*/

@media (max-width: 1200px){ 
    .ContactMain{
        background-position: center;
    }
}

@media (max-width: 375px){    

    .FormElement div > input, textarea{ 
        width: 45%;
    }
}